<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Repin\SalesInformation\Api\Data\SalesInformationInterface"
                type="Repin\SalesInformation\Model\SalesInformation"/>
    <preference for="Repin\SalesInformation\Api\SalesInformationRepositoryInterface"
                type="Repin\SalesInformation\Model\SalesInformationRepository"/>
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="joinSalesInformationToProductRepository"
                type="Repin\SalesInformation\Model\Plugin\Product\Repository"/>
    </type>

    <!-- Rewrite Order Status -->
    <type name="Repin\SalesInformation\Model\SalesInformationRepository">
        <arguments>
            <argument name="orderStatus" xsi:type="string">pending</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="sales_information" xsi:type="object">Repin\SalesInformation\Console\Command\SalesInformation</item>
            </argument>
        </arguments>
    </type>
</config>